
@keyframes zoom-in {
    from {
        opacity: 0;
        transform: scale(0.2, 0.2);
    }
    to {
        opacity: 1;
    }
}
img {
    display: block;
    width: 10vmin;
    height: 10vmin;
    animation-name: zoom-in;
    animation-duration: 1s;
    position: absolute;
    right: 0;
}
img:active {
    animation-name: none;
}
img:hover {
    /* transform: scale(1.1) rotate(1turn) ;
    transition: all 1s ease-out;
    box-shadow: 0 0 10px .5px black; */
}
[href="README.md"] {
    position: absolute;
    left: 0;
    top: 0;
}
.fc {
    display: grid;
    justify-content: center;
    align-item: center;
}
label {
    position: absolute;
    left: 0;
    top: 20px;
}
